<h1>Lista de workshops</h1>

<table>
  <% @workshops.each do |workshop| %>
    <tr>
      <td>
        <%= workshop.name %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Novo Workshop', new_workshop_path %>