<h1>List of Attendees</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New attendee', new_attendee_path %>